In [22]:
import vaex
import dtale

In [11]:
# Specify the S3 URL for the dataset
data_path = '/Users/DrVaniV/NMIT/Data Science FDP 20-May/data/yellow_tripdata_2024-01.parquet'


# Open the dataset directly from S3 using Vaex
df = vaex.open(data_path)

print(f'number of rows: {df.shape[0]:,}')
print(f'number of columns: {df.shape[1]}')

number of rows: 2,964,624
number of columns: 19

In [12]:
# Calculate summary statistics
print("\nSummary statistics:")
print(df.describe())

Summary statistics:
                     VendorID        tpep_pickup_datetime  \
data_type               int32              datetime64[us]
count                 2964624                     2964624
NA                          0                           0
mean       1.7542042431013174  1970-01-07T07:31:49.015887
std                   0.43259        1052774340149.278687
min                         1  2002-12-31T22:59:14.437120
max                         6  2024-02-01T00:00:46.809088

                tpep_dropoff_datetime     passenger_count       trip_distance  \
data_type              datetime64[us]               int64             float64
count                         2964624             2824462             2964624
NA                                  0              140162                   0
mean       1970-01-07T07:47:25.792924  1.3392808966805005  3.6521691789583257
std              1052776185233.299194            0.850282          225.462534
min        2002-12-31T23:05:57.090304                   0                 0.0
max        2024-02-02T13:55:46.238464                   9            312722.3

                  RatecodeID store_and_fwd_flag        PULocationID  \
data_type              int64       large_string               int32
count                2824462            2824462             2964624
NA                    140162             140162                   0
mean       2.069359403666964                 --  166.01788354948215
std                 9.823217                 --           63.623904
min                        1                 --                   1
max                       99                 --                 265

                 DOLocationID        payment_type       fare_amount  \
data_type               int32               int64           float64
count                 2964624             2964624           2964624
NA                          0                   0                 0
mean       165.11671227110082  1.1612707041432573  18.1750619167896
std                 69.315338            0.580868         18.949545
min                         1                   0            -899.0
max                       265                   4            5000.0

                        extra              mta_tax          tip_amount  \
data_type             float64              float64             float64
count                 2964624              2964624             2964624
NA                          0                    0                   0
mean       1.4515984320439963  0.48338231087652256  3.3358700158935553
std                  1.804102              0.11776             3.89655
min                      -7.5                 -0.5               -80.0
max                     14.25                  4.0               428.0

                 tolls_amount improvement_surcharge        total_amount  \
data_type             float64               float64             float64
count                 2964624               2964624             2964624
NA                          0                     0                   0
mean       0.5270212040381402    0.9756318507844484  26.801504770926396
std                  2.128309              0.218364           23.385573
min                     -80.0                  -1.0              -900.0
max                    115.92                   1.0              5000.0

          congestion_surcharge        Airport_fee
data_type              float64            float64
count                  2824462            2824462
NA                      140162             140162
mean        2.2561220508542865  0.141161130863152
std                   0.823275           0.487624
min                       -2.5              -1.75
max                        2.5               1.75

In [14]:
# Filter data
filtered_df = df[df.passenger_count== 1]
print(filtered_df.shape)

(2188739, 19)

In [15]:
# Calculate new column
filtered_df['tip_percentage'] = (filtered_df.tip_amount / filtered_df.total_amount) * 100
filtered_df.head()

  #    VendorID  tpep_pickup_datetime    tpep_dropoff_datetime      passenger_count    trip_distance    RatecodeID  store_and_fwd_flag      PULocationID    DOLocationID    payment_type    fare_amount    extra    mta_tax    tip_amount    tolls_amount    improvement_surcharge    total_amount    congestion_surcharge    Airport_fee    tip_percentage
  0           2  2024-01-01 00:57:55     2024-01-01 01:17:43                      1             1.72             1  N                                186              79               2           17.7     1           0.5          0                  0                        1           22.7                      2.5           0              0
  1           1  2024-01-01 00:03:00     2024-01-01 00:09:36                      1             1.8              1  N                                140             236               1           10       3.5         0.5          3.75               0                        1           18.75                     2.5           0             20
  2           1  2024-01-01 00:17:06     2024-01-01 00:35:01                      1             4.7              1  N                                236              79               1           23.3     3.5         0.5          3                  0                        1           31.3                      2.5           0              9.58466
  3           1  2024-01-01 00:36:38     2024-01-01 00:44:56                      1             1.4              1  N                                 79             211               1           10       3.5         0.5          2                  0                        1           17                        2.5           0             11.7647
  4           1  2024-01-01 00:46:51     2024-01-01 00:52:57                      1             0.8              1  N                                211             148               1            7.9     3.5         0.5          3.2                0                        1           16.1                      2.5           0             19.8758
  5           1  2024-01-01 00:54:08     2024-01-01 01:26:31                      1             4.7              1  N                                148             141               1           29.6     3.5         0.5          6.9                0                        1           41.5                      2.5           0             16.6265
  6           2  2024-01-01 00:26:01     2024-01-01 00:54:12                      1             5.44             1  N                                161             261               2           31       1           0.5          0                  0                        1           36                        2.5           0              0
  7           2  2024-01-01 00:28:08     2024-01-01 00:29:16                      1             0.04             1  N                                113             113               2            3       1           0.5          0                  0                        1            8                        2.5           0              0
  8           1  2024-01-01 00:51:53     2024-01-01 00:55:43                      1             0.8              1  N                                 90              68               2            6.5     3.5         0.5          0                  0                        1           11.5                      2.5           0              0
  9           1  2024-01-01 00:50:09     2024-01-01 01:03:57                      1             5                1  N                                132             216               2           21.2     2.75        0.5          0                  0                        1           25.45                     0             1.75           0

In [16]:
# Group by and aggregation
grouped_df = filtered_df.groupby('payment_type').agg({'fare_amount': 'mean', 'tip_percentage': 'mean'})

In [18]:
# Display the grouped DataFrame
print("\nGrouped DataFrame:")
print(grouped_df)

Grouped DataFrame:
  #    payment_type    fare_amount    tip_percentage
  0               1       18.0725        14.7511
  1               2       17.0538        -0.00504015
  2               3        5.74286       -0.0487351
  3               4        1.3434        -0.175153